.nav_bar {
    width: stretch;
    display: inline-flex;
    flex-wrap: wrap;
    transition: all ease-in-out .33s;
    font-size: 0vw;
    height: 4vh;
    line-height: 8vh;
    overflow: hidden;
    background-color: black;
}

    .nav_bar .nav_button {
        transition: color ease-in-out .33s;
        margin: 0 auto;
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
